<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get Your Horoscope!</title>
  <script src="https://use.fontawesome.com/a7ce2a261b.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body id="mainBody">
<section id="mainContain"class="container">
  <section class="top">
    <h1>HOROSCOPE</h1>
    <p>See what today has in store.</p>
</section>
<section class="birthday">
  <h3>Please enter your birthday:</h3>
  <form>
    <label for="day">MM</label>
    <input type="text" name="" maxlength="2" id="month">
    <label for="day">DD</label>
    <input type="text" name="day" maxlength="2" id="day">
    <button type="button" id="button"><i class="fa fa-moon-o" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
</button>
  </form>
</section>


</section>
  <script src="main.js"></script>

</body>
</html>
